<html>
	<head>
		<link rel="stylesheet" type="text/css" href="parts/css/bootstrap.min.css">
		<script type="text/javascript" src="parts/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-lg-12">

					<h2>
						自己紹介 Profile
					</h2>
					<table class="table table-hover table-striped">
						<thead>
							<tr class="active">
								<th>項目<br>Item</th>
								<th>内容<br>Value</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th>名前<br>Name</th>
								<th>畑 元<br>Hajime Hata</th>
							</tr>
							<tr>
								<th>職種<br>Job</th>
								<th>ITエンジニア<br>IT Engineer</th>
							</tr>
							<tr>
								<th>所属<br>Industry</th>
								<th><a href="https://about.yahoo.co.jp/" target="_blank">ヤフー株式会社</a><br><a href="https://about.yahoo.co.jp/ir/en/company/profile.html" target="_blank">Yahoo! JAPAN</a></th>
							</tr>
						</tbody>
					</table>

					<br>

					<h2>
						学歴および職歴 Education&Work Experience
					</h2>

					<table class="table table-hover table-striped">
						<thead>
							<tr class="active">
								<th>年月<br>Date</th>
								<th>何が起こったか<br>What Happen</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th>2012年 3月<br>Mar 2012</th>
								<th>
									<a href="http://www.uec.ac.jp/ies/m/" target="_blank">電気通信大学 知能機械工学科</a> 卒業
									<br>
									BE, Dept. of Mecharical Engineering and Intelligent Systems, University of Electro-Communications
								</th>
							</tr>
							<tr>
								<th>2015年 3月<br>Mar 2015</th>
								<th>
									<a href="http://www.is.uec.ac.jp/" target="_blank">電気通信大学院 情報システム学研究科</a> 修了
									<br>
									ME, Dept. of <a href="http://www.is.uec.ac.jp/eng/" target="_blank">Information System, University of Electro-Communications</a>
								</th>
							</tr>
							<tr>
								<th>2015年 4月<br>April 2015</th>
								<th>
									<a href="https://about.yahoo.co.jp/" target="_blank">ヤフー株式会社</a>に入社
									<br>
									Employed by <a href="https://about.yahoo.co.jp/ir/en/company/profile.html" target="_blank">Yahoo! JAPAN</a>
								</th>
							</tr>
						</tbody>
					</table>

					<br>

					<h2>
						活動歴 Activity
					</h2>



					<table class="table table-hover table-striped">
						<thead>
							<tr class="active">
								<th>年月<br>Date</th>
								<th>何が起こったか<br>What Happen</th>
							</tr>
						</thead>
						<tbody>

							<tr>
								<th>2009年 3月<br>Mar 2009</th>
								<th>
									IVRC（国際学生バーチャルリアリティコンテスト）にて <a href="https://ivrc.net/archive/だいたい無限デスク2009/" target="_blank">だいたい無限デスク</a> が特別賞を受賞
									<br>
									<a href="https://ivrc.net/archive/だいたい無限デスク2009/" target="_blank">だいたい無限デスク</a> receives "special prize" at IVRC(International collegiate Virtual Reality Contest) 
								</th>
							</tr>

							<tr>
								<th>2010年 3月<br>Dec 2010</th>
								<th>
									ロボコンプロデュースにて <a href="https://www.jsme.or.jp/rmd/procon/sub7.html#2010" target="_blank">S.S.T.I. 計画</a> が優秀賞を受賞
									<br>
									<a href="https://www.jsme.or.jp/rmd/procon/sub7.html#2010" target="_blank">S.S.T.I. 計画</a> receives "First prize" at Robot Contest Produce Contest 
								</th>
							</tr>

							<tr>
								<th>2012年 3月<br>Mar 2012</th>
								<th>
									2012年度精密工学会春季大会にて Attentive Workbenchにおけるトレイ交換システムの試作 が採択<br>
									Adopted "Attentive Workbenchにおけるトレイ交換システムの試作" at Japanese Procision Engeering Spring 2012 Conference
								</th>
							</tr>

							<tr>
								<th>2013年 7月<br>Jul 2013</th>
								<th>
									PlayStation Mobile GameJam 2013 Summer にて <a href="https://www.gamebusiness.jp/article/2013/07/23/8301.html" target="_blank">ESCAPE PENGUIN</a> が最優秀賞受賞。
									<br>
									<a href="https://www.gamebusiness.jp/article/2013/07/23/8301.html" target="_blank">ESCAPE PENGUIN</a> receives "Grand prize" at PlayStation Mobile GameJam 2013 Summer
								</th>
							</tr>

							<tr>
								<th>2013年 8月<br>Aug 2013</th>
								<th>
									<a href="https://www.ntf.or.jp/mouse/" target="_blank">マイクロマウス競技</a>に出場
									<br>
									played at <a href="https://www.ntf.or.jp/mouse/" target="_blank">micromouse</a>
								</th>
							</tr>

							<tr>
								<th>2014年 3月<br>Mar 2014</th>
								<th>
									Hack U at 電気通信大学 2014 にて <a href="https://hacku.yahoo.co.jp/uec2014/" target="_blank">TASER INTERFACE</a> が最優秀賞受賞。
									<br>
									<a href="https://hacku.yahoo.co.jp/uec2014/" target="_blank">TASER INTERFACE</a> receives "Grand prize" at Hack U at University of Electro-Communications 2014
								</th>
							</tr>

							<tr>
								<th>2014年 3月<br>Mar 2014</th>
								<th>
									インタラクション2016にて<a href="https://ipsj.ixsq.nii.ac.jp/ej/?action=pages_view_main&active_action=repository_view_main_item_detail&item_id=141589&item_no=1&page_id=13&block_id=8" target="_blank">解像度制御を用いた視線誘導</a>が採択
									<br>
									Adopted <a href="https://ipsj.ixsq.nii.ac.jp/ej/?action=pages_view_main&active_action=repository_view_main_item_detail&item_id=141589&item_no=1&page_id=13&block_id=8" target="_blank">Visual Attention Guidance Using Image Resolution Control</a> at Japanese Information Conference
								</th>
							</tr>

							<tr>
								<th>2016年 5月<br>May 2016</th>
								<th>
									Advanced Visual Interfacesにて<a href="https://dl.acm.org/citation.cfm?id=2909254" target="_blank">Visual Guidance with Unnoticed Blur Effect</a>が採択
									<br>
									Adopted <a href="https://dl.acm.org/citation.cfm?id=2909254" target="_blank">Visual Guidance with Unnoticed Blur Effect</a>, International Working Conferences on Advanced Visual Interfaces
								</th>
							</tr>

							<tr>
								<th>2017年 11月<br>Nov 2017</th>
								<th>
									マンガ作成サービス <a href="http://mangacreate.com/" target="_blank">マンガコマッタラー</a>のリリース
									<br>
									Released Manga creation service, <a href="http://mangacreate.com/" target="_blank">マンガコマッタラー</a>
								</th>
							</tr>
						</tbody>
					</table>

					<br>

					<h2>
						スキル Skill
					</h2>

					<table class="table table-hover table-striped">
						<tbody>
							<tr>
								<th>何ができるか<br>What skill I have</th>
								<th>
									学歴、職歴ををみていただける通り、ロボットとITどちらにも精通しております
									<br>そのため、ハードウェア、電気回路、組み込みプログラミング、webプログラミングを一通りこなすことができます
									<br>
									そのほかには、画像処理などができます
									<br>
									<br>
									I am familiar with both the robot and it as you can see the education and career history
									<br>
									So you can handle hardware, electrical circuits, embedded programming and web programming
									<br>
									In addition to that, image processing etc.
								</th>
							</tr>
							<tr>
								<th>性格<br>Character</th>
								<th>
									様々な課題に対し、自分から積極的に動き、解決を行います
									<br>
									また、新しいもので好きで人と話すのが得意なため、チーム力の向上、活発化などにも貢献します
									<br>
									<br>
									Proactively move and solve a variety of issues
									<br>
									It also contributes to the improvement of team strength and activation, as it is good at talking with people who love new things
								</th>
							</tr>
						</tbody>
					</table>

					<br>

					<h2>
						連絡先 Contact
					</h2>

					<h4>

						<ul class="list-group">
							<li class="list-group-item">
								<a href="https://www.facebook.com/hajime.hata.33?ref=bookmarks" target="_blank">
									Facebook
								</a>
							</li>
							<li class="list-group-item">
								<a href="http://linkedin.com/in/元-畑-11133a96" target="_blank">
									Linkdin
								</a>
							</li>
						</ul>
					</h4>
				</div>
			</div>
		</div>
	</body>

</html>